{% extends "base.html" %}

{% block content %}

<main class="container mt-5 text-center">
    <h1>Drinks Menu</h1>
    <p>Discover our refreshing beverages:</p>
    <div><h2>Warm Drinks</h2></div>
    <ul class="list-unstyled">
        <li>Coffee<span>$56</span></li>
        <li>Tea different alternatives<span>$56</span></li>
        <li>Espresso <span>$56</span></li>
    </ul>

    <div><h2>Cold Drinks</h2></div>
    <ul class="list-unstyled">
        <li>Smoothies<span>$56</span></li>
        <li>Ice-Caffinated drinks<span>$56</span></li>
    </ul>

    <div><h2>Alcoholic beverages </h2></div>
    <ul class="list-unstyled">
        <li>Red and White wines <span>$56</span></li>
        <li>Beer <span>$56</span></li>
        <li>liqueurs<span>$56</span></li>
    </ul>
    <p>Visit food menu, <a href="{% url 'foods' %}" class="booking-success-button">click</a><p></p>
</main>

{% endblock %}