{% extends "base.html" %}

{% block content %}


<main class="container mt-5 text-center">
    <h1>Food Menu</h1>

    <div><h2>Starters</h2></div>
    <ul class="list-unstyled">
        <li>Mac&Cheese <span>$56</span></li>
        <li>Grilled Vegetable Antipasti<span>$56</span></li>
        <li>Steak Tartare<span>$56</span></li>
    </ul>

    <div><h2>Main Course</h2></div>
    <ul class="list-unstyled">
        <li>Steak and Fries <span>$56</span></li>
        <li>Pan-Seared Salmon<span>$56</span></li>
        <li>Vegetarian lasagne<span>$56</span></li>
    </ul>

    <div><h2>Dessert</h2></div>
    <ul class="list-unstyled">
        <li>Turffle <span>$56</span></li>
        <li>Creme Bulle <span>$56</span></li>
    </ul>
 
</main>
{% endblock %}