{% extends "base.html" %}

{% block content %}


<main class="container mt-5 text-center">
    <h1>Food Menu</h1>
    <p>Check out our delicious dishes below:</p>

    <div><h2>Starters</h2></div>
    <ul class="list-unstyled">
        <li>Mac&Cheese <span>$12</span></li>
        <li>Grilled Vegetable Antipasti<span>$14</span></li>
        <li>Steak Tartare<span>$18</span></li>
    </ul>

    <div><h2>Main Course</h2></div>
    <ul class="list-unstyled">
        <li>Steak and Fries <span>$25</span></li>
        <li>Pan-Seared Salmon<span>$29</span></li>
        <li>Vegetarian lasagne<span>$20</span></li>
    </ul>

    <div><h2>Dessert</h2></div>
    <ul class="list-unstyled">
        <li>Turffle <span>$7</span></li>
        <li>Creme Bulle <span>$12</span></li>
    </ul>
    <p>Visit drinks menu, <a href="{% url 'drinks' %}" class="booking-success-button">click</a><p></p>
 
</main>
{% endblock %}